<button class="expand-btn" type="button" (click)="openModal()">Add Category</button>

<div class="modal-backdrop" *ngIf="showModal">
    <div class="custom-modal">

        <div class="modal-header">
           <h3>{{ isEditMode ? 'Update Category' : 'Create Category' }}</h3>
            <button class="close-btn" type="button" (click)="closeModal()">×</button>
        </div>

        <div class="modal-body">

            <div class="form-group">
                <label>Parent Category</label>

                <select class="form-control" [(ngModel)]="categoryForm.parentCategoryId"  [disabled]="isEditMode">
                    <option [ngValue]="null">Select Category</option>

                    <option *ngFor="let category of parentCategory" [ngValue]="category.categoryId">
                        {{ category.fullPath }}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label>Category Name</label>

                <input type="text" class="form-control" [(ngModel)]="categoryForm.name"
                    placeholder="Enter category name">

                <small class="text-danger" *ngIf="submitted && !categoryForm.name">
                    Category Name is required
                </small>
            </div>

            <div class="form-group">
                <label>Code</label>

                <input type="text" class="form-control" [(ngModel)]="categoryForm.code" placeholder="Enter code">

                <small class="text-danger" *ngIf="submitted && !categoryForm.code">
                    Code is required
                </small>
            </div>

            <div class="form-group">
                <label>Description</label>

                <textarea class="form-control" rows="3" [(ngModel)]="categoryForm.description"
                    placeholder="Enter description"></textarea>

                <small class="text-danger" *ngIf="submitted && !categoryForm.description">
                    Description is required
                </small>
            </div>
        </div>

        <div class="modal-footer">
            <button class="cancel-btn" type="button" (click)="closeModal()">Cancel</button>
            <button class="save-btn" type="button" (click)="saveCategory()">  {{ isEditMode ? 'Update' : 'Save' }}</button>
        </div>

    </div>
</div>